.topnav {
    background-color: rgb(39, 38, 38);
    overflow: hidden;
    font-family: sans-serif;
  }
.topnav a {
  float: right;
  display: block;
  font-family: sans-serif;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}
  
.login_pg {
  text-align: left;
  padding-left: 100px;
  width: 500px;
  padding: 10% 0 0;
  margin:0px;

}
.col2{
  padding-left: 100px;
}

.column{
  font-family: sans-serif;
  float: left;
  width: 50%;
}
.error{
  font-family: sans-serif;
  color: red;
}
.head_a{
  font-family: sans-serif;
  text-align: right;
  padding-right: 100px;
  padding-top: 40px;
  

}

.button1 {
  background-color: #000000;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin:  3px;
  cursor: pointer;
}
.hi1{
  text-align: center;
}
#col_left{
  column-width: 30%;
}
#col_right{
  column-width: -200px;
}


*{
  margin:0;
  padding:0;
}

.text{
  margin-top:15px;
  margin-left:0px;
  font-size:18px;
}
.form input{
  border:none;
  border-bottom:1px solid rgb(0, 0, 0);
  padding:20px;
  width:400px;
  outline-style:none;
}
.hero-btn{
  display:inline-block;
  margin-top:20px;
  margin-left:px;
}
.hero-btn button{
  padding:10px;
  width:500px;
  color: white;
  border-radius:10px;
  outline-style:none;
  border:none;
  background-color:rgb(0, 0, 0);
  font-size:16px;
  margin-bottom:15px;
}
.hero-btn button:hover{
  cursor:pointer;
}
.paragraphs{
  text-transform:capitalize;
}
.paragraphs a{
  text-decoration:none;
}

body{
  width: available;
  height: available;
}

.container{
  width: available;
  height: available;
}

.leftpane{
  width: 25%;
  min-width: 250px;
  height: available;
  min-height: 400px;
  float: left;
  background-color:rgb(255, 255, 255);
}

.middlepane{
 width: 50%;
 min-width: 800px;
 height: available;
 min-height: 650px;
 float: left;
 background-color: rgb(255, 255, 255);
 border-collapse: collapse;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #588c7e;
  font-family: monospace;
  font-size: 25px;
  text-align: left;
} 


